{% load static %}
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="id=edge">
		<title>CeeMess.com</title>
		<style type="text/css">
			html,body { 
				margin:0; 
				padding:0; 
				font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
					'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  				-webkit-font-smoothing: antialiased;
  				-moz-osx-font-smoothing: grayscale; 
  			}
		</style>
		<link rel="stylesheet" href="{% static 'assets/frontend/main.css' %}">
	</head>
	<body>
		<div id="app"></div>
		<script src="{% static 'assets/frontend/ceemess.js' %}"></script>
	</body>
</html>