<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
		<title>Reset Your Password</title>
		<style>
			.wrapper {
				display: grid;
				grid-template-columns: 1fr 3fr 1fr;
			}

			.form-header {
				padding: 10px;
				text-align: center;
			}

			.form-title {
				font-size: 24px;
				font-weight: bold;
			}

			.form-group {
				padding: 10px;
			}

			.input-field {
				padding: 10px;
			}

			.password-input {
				font-size: 16px;
				margin: 5px;
			}

			.submit-button {
				color: white;
				background: grey;
				padding: 10px;
			}

			.text-span {
				font-size: 18px;
			}

			@media only screen and (max-width : 600px) {
				.wrapper {
					display: grid;
					grid-template-columns: 1fr 8fr 1fr;
				}
			}
		</style>
	</head>

	<body>
		<script type="text/javascript">
		  function checkForm(form)
		  {
		    // if(form.username.value == "") {
		    //   alert("Error: Username cannot be blank!");
		    //   form.username.focus();
		    //   return false;
		    // }
		    // re = /^\w+$/;
		    // if(!re.test(form.username.value)) {
		    //   alert("Error: Username must contain only letters, numbers and underscores!");
		    //   form.username.focus();
		    //   return false;
		    // }

		    if(form.password.value != "" && form.password.value == form.password_confirm.value) {
		      if(form.password.value.length < 6) {
		        alert("Error: Password must contain at least six characters!");
		        form.password.focus();
		        return false;
		      }
		      // if(form.password.value == form.username.value) {
		      //   alert("Error: Password must be different from Username!");
		      //   form.password.focus();
		      //   return false;
		      // }
		      re = /[0-9]/;
		      if(!re.test(form.password.value)) {
		        alert("Error: password must contain at least one number (0-9)!");
		        form.password.focus();
		        return false;
		      }
		      re = /[a-z]/;
		      if(!re.test(form.password.value)) {
		        alert("Error: password must contain at least one lowercase letter (a-z)!");
		        form.password.focus();
		        return false;
		      }
		      re = /[A-Z]/;
		      if(!re.test(form.password.value)) {
		        alert("Error: password must contain at least one uppercase letter (A-Z)!");
		        form.password.focus();
		        return false;
		      }
		    } else {
		      alert("Error: Please check that you've entered and confirmed your password!");
		      form.password.focus();
		      return false;
		    }

		    // alert("You entered a valid password: " + form.password.value);
		    return true;
		  }

		</script>
		<div class="wrapper">
			<div></div>
			<div class="content">
				{% if success == True %}
					<div class="form-header">
						<span class="form-title">Reset Your Password:</span>
					</div>
					<div class="form-group" >
						<form action="/api/reset-password/{{username}}/{{code}}/" method="post" onSubmit="return checkForm(this);">
							{% csrf_token %}
							<input type="hidden" value="{{username}}" name="username" id="username" />
							<input type="hidden" value="{{code}}" name="code" id="code" />
							<div class="input-field">
								<input type="password" name="password" id="password" class="password-input" placeholder="Set New Password" size="20" />
							</div>
							<div class="input-field">
								<input type="password" name="password_confirm" id="password_confirm" class="password-input" value="" placeholder="Confirm New Password" size="20" />
							</div>
							<div class="input-field">
								<button class="submit-button">Submit</button>
							</div>
						</form>
					</div>
				{% else %}
					<div>
						<span class="text-span">Sorry, that code does not match the verification code.</span>
					</div>
				{% endif %}
			</div>
			<div></div>
		</div>
	</body>
	
</html>
	