<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
		{% if success == True %}
			<title>Reset Password Complete</title>
		{% else %}
			<title>Reset Password Fail</title>
		{% endif %}
		<style>
			.wrapper {
				display: grid;
				grid-template-columns: 1fr 3fr 1fr;
			}

			.text-span {
				font-size: 18px;
			}

			.div-spacer {
				padding: 10px;
			}

			@media only screen and (max-width : 600px) {
				.wrapper {
					display: grid;
					grid-template-columns: 1fr 8fr 1fr;
				}
			}
		</style>
	</head>

	<body>
		<div class="wrapper">
			<div></div>
			<div class="content">
				{% if success == True %}
					<div class="div-spacer"><span class="text-span">Success. You may close this tab and return to the application.</span></div>
				{% else %}
					<div class="div-spacer">
						<span class="text-span">Sorry, that code does not match the verification code. Please check your email and try again.</span>
					</div>
				{% endif %}
			</div>
			<div></div>
		</div>
	</body>
	
</html>
	